table {
    margin: 1rem auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkblue;
    background-color: white;
    border: solid 2px black;
    border-collapse: collapse;
    box-shadow: 0 0 30px gray;
}

thead tr {
    font-size: large;
    border: solid 1px black;
    background-color: lightblue;
}

tr:first-child th,
.highlight {
    background-color: blue;
    color: white;
}

th,
td {
    border: solid 1px gray;
    padding: 8px 15px;
}

tbody {
    text-align: center;
}

tbody tr:hover {
    color: white;
    background-color: darkblue;
}

tbody tr:nth-child(even) {
    background-color: lightgray;
}

caption {
    font-size: small;
    caption-side: bottom;
    padding-top: 5px;
}