    body {
        background-color: #E8E9EB;
    }
    
    header {
        color: #E8E9EB;
        font-family: 'Noto Sans Display', sans-serif;
        background-color: #A5402D;
        border-radius: 5rem 0rem 5rem 0rem;
    }

    .headertop {
        display: flex;
        align-content: center;
        justify-content: center;
        place-items: center;
        margin: 1rem;
    }

    .datediv {
        display: flex;
        align-content: center;
        justify-content: center;
    }


    .headings {
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }

    .websiteLogo {
        max-width: 100px;
        height: auto;
    }


    main {
        padding-left: 1em;
        margin-left: 1em;
        margin-right: auto;
        grid-template-columns: 1fr;
    }

    
    .mainStuff {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        gap: 10px;
    }

    .box1, .box2, .box3, .box4, .box5, .box6 {
        background-color: lightgrey;
    }



    .linkLogos img{
        width: 50px;
        margin: 5px;
        border-radius: 4rem 4rem;
    }

    .footerimg {
        width: 15%;
        margin: 10px;
    }
    
    body {
        font-family: 'Noto Serif', serif;
    }

    section {
        margin-left: 8px;
        margin-right: 8px;
    }
    
    footer {
        color: #E8E9EB;
        font-family: 'Noto Sans Display', sans-serif;
        background-color: #A5402D;
        border-radius: 5rem 0rem 5rem 0rem;
        margin: 1em;
        padding:1rem;
    }

    

    .bottomfooter {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    iframe {
        height: auto;
        width: auto;
    }



    /* Small/Phone View ***************/
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: E8E9EB;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover {
	color: E8E9EB;
	background-color: 313638;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}