    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #E0E0E0;
    }

    header {
        color: #EBEBEB;
        font-family: 'Noto Sans Display', sans-serif;
        background-color: #1F2716;
        margin: 1rem;
    }

    .navigation ul {
        padding: 0;
    }

    .heroimage img {
        width: 100%;
    }

    .movingtruck img {
        width: 50%;
    }

    .sandbox img {
        width: 50%;
    }


    h3 {
        font-family: 'Noto Sans Display', sans-serif;
    }

    button {
        padding: 5px 50px 5px 50px;
        background-color: #F09B7F50;
        border-radius: 5px;
    }

    #sitebanner {
        display: flex;
        align-content: center;
        justify-content: center;
        font-size: x-large;
        place-items: center;
        padding: 1rem;
        text-align: center;
    }

    .titlelogo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .headertop {
        display: grid;
        align-content: center;
        justify-content: center;
        place-items: center;
    }

    .datediv {
        display: flex;
        align-content: center;
        justify-content: center;
        padding: 1rem;
        background-color: #31363820;
    }


    .headings {
        text-align: center;
        flex-direction: column;
    }

    .websiteLogo {
        max-width: 100px;
        height: auto;
        border-radius: 35px;
        margin-right: 35px;
    }


    main {
        margin: auto;
        grid-template-columns: 1fr;
        display: grid;
        font-family: 'Noto Serif', serif;
        justify-content: center;
    }

    .discovermain {
        margin: 1rem auto;
        max-width: 750px;
    }


    .mainStuff {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr;
        text-align: center;
        align-content: center;
    }

    .box1 {
        display: flex;
        align-items: center;
    }

    .box4 {
        grid-row: 1/2;
    }

    .box5 {
        display: none;
    }

    .box9 {
        display: none;
    }

    .box3 {
        grid-row: 2/3;
    }

    .box3 a:link {
        color: #1F2716;
    }

    input {
        background-color: #EBEBEB;
        border-radius: 5px;
        margin: 5px;
    }

    .box3 a:hover {
        color: #EBEBEB;
    }

    .output {
        margin: 10px;
    }

    .box,
    .box1,
    .box2,
    .box3,
    .box4,
    .box5,
    .box6 {
        background-color: #816F8560;
        border-radius: 10px;
    }

    .box6 {
        display: grid;
        grid-gap: 10px;
    }

    .box6 img {
        min-width: 20px;
    }

    .linkLogos {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }



    .linkLogos img {
        width: 50px;
        margin: 5px;
        border-radius: 4rem 4rem;
    }

    .footerimg {
        max-width: 5em;
        margin: 10px;
    }

    body {
        font-family: 'Noto Serif', serif;
    }

    footer {
        color: #EBEBEB;
        font-family: 'Noto Sans Display', sans-serif;
        background-color: #1F2716;
        margin: 1em;
        padding: 1rem;
    }

    .footercombo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .footertop {
        display: flex;
        align-items: center;
    }

    .location {
        margin: 10px;
    }

    .bottomfooter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    /* Small/Phone View ***************/

    .navigation {
        list-style: none;
        padding: 0;
        margin: auto;
        display: flex;
        align-content: center;
        justify-content: space-evenly;
    }

    .navigation li:first-child {
        display: block;
    }

    .navigation li {
        display: none;
    }

    .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: #EBEBEB;
        font-weight: 700;
        transition: 0.5s;
        font-size: clamp(1.75rem, 2vmin, 1.5rem);
    }

    .navigation a:hover {
        color: #EBEBEB;
        background-color: #313638;
    }

    /* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
    .responsive li {
        display: block;
    }

    .ham img {
        min-width: 25px;
        max-width: 1em;
        height: fit-content;
    }

    .box img {
        width: 100%
    }

    /* -------------------- FORM -------------------------*/

    form fieldset {
        margin: 2rem 0;
        border: 1px solid #445ba9;
        border-radius: 10px;
        padding: .5rem 2%;
    }

    form legend {
        color: #445ba9;
        margin: 1 1rem;
        padding: 0 0.5rem;
    }

    form label.top,
    form div {
        display: block;
        padding-top: 1rem;
        color: #9c2c13;
        font-size: .8rem;
    }

    form label.top input,
    form label.top select {
        display: blocks;
        font-size: 16px;
        border: solid 1px gray;
        border-radius: 4px;
        padding: .75rem;
        color: #555;
        width: 100%;
        max-width: 20rem;
        background-color: rgba(0, 0, 0, 0.1);
    }