@media only screen and (min-width: 900px) {
    nav {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
        align-items: center;
    }

    .contacts {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .navigation li {
        display: block;
        /* change state in small view */
        flex: 1 1 auto;
    }

    .navigation a {
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
    }



    .slideshow {
        grid-column: 2/2;
        grid-row: 1/3;
    }

    .makedrink {
        grid-column: 1/2;
        grid-row: 1/2;
        display: grid;
        align-items: center;
        justify-items: center;
    }


    .mySlides img {
        width: 50rem;
    }

    .aboutus {
        display: grid;
        max-width: 500px;
        margin: 0 auto;
    }

    .why {
        grid-column: 1/2;
    }

    .contact {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .find {
        grid-column: 2/3;
    }


    .smoothieinfo {
        grid-column: 1/3;
        grid-row: 3/4;
    }


}