* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #553d39;
    font-family: "Barlow Semi Condensed", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    margin: 15px;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
}

li {
    list-style: none;
}

nav {
    display: grid;
    background-color: #fbf3e3;
}

.ham img {
    width: 50px;
}

.contacts {
    grid-column: 2/2;
    text-align: center;
    margin: 5px;
    margin-top: 25px;
    margin-right: 7px;
}

.contacts p {
    margin-bottom: 5px;
}

header {
    background-color: #fbf3e3;
}

.sitelogo img {
    height: 150px;
}

a {
    text-decoration: none;
    color: #553d39;
    font-weight: bold;
}

.active {
    padding: 5px 10px;
    background-color: #8e665f;
    display: inline-block;
    border-radius: 20px;
    padding: 10px;
    color: #fbf3e3;
}

main {
    display: grid;
    gap: 35px;
    margin: 15px;
}

button {
    background-color: #8e665f;
    display: inline-block;
    border-radius: 20px;
    padding: 10px;
    max-width: 150px;
}

button a {
    color: #fbf3e3;
}

footer {
    background-color: #fbf3e3;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*-----------------slideshow-----------------*/

.slideshow-container {
    max-width: 750px;
    position: relative;
    margin: auto;
    background-color: #717171;
    margin-bottom: 15px;
}

.mySlides img {
    width: 23rem;
}

.mySlides {
    display: none;
    justify-content: center;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    margin-top: 20px;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 2px 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


/*------------make your own drink--------------*/

.makedrink {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.drinkcount {}

/*------------weather--------------*/

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherinput {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.weatherinput picture {
    grid-column: 1/1;
}

/*----------hambutton---------*/

.responsive li {
    display: block;
}

.ham img {
    min-width: 25px;
    max-width: 1em;
    height: fit-content;
}

/*-----------------FORM---------------*/

form {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
}

form fieldset {
    margin: 2rem 0 2rem;
    border: 1px dashed #553d39;
    border-radius: 10px;
}

form legend {
    text-align: center;
    color: #553d39;
    margin: 1rem 1rem;
    padding: 0 0.5rem;
}

form label.top,
form div {
    display: block;
    padding: 1rem 0 0;
    color: #553d39;
    font-size: 21px;
}

form label.top input,
form label.top select {
    display: block;
    font-size: 16px;
    border: solid 1px gray;
    border-radius: 4px;
    padding: 0.75rem;
    color: black;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
    display: block;
}

.description {
    color: #553d39;
    font-size: 16px;
    padding: 0 2% 1rem;
}

form input.submitBtn {
    border: none;
    background-color: #553d39;
    color: white;
    border-radius: 0.5rem;
    padding: 0.75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form input.submitBtn:hover {
    color: #553d39;
    background-color: #fbf3e3;
}

form form label.top input:required {
    border-left: solid #9c2c13 6px;
}

form label.top input:required:valid {
    border-left: solid green 6px;
}

form label.top .description {
    width: 100%;
    height: 20rem;
    max-width: 20rem;
}

form label.pickfruit {
    font-size: 21px;
}

form select {
    display: block;
    font-size: 16px;
    border: solid 1px gray;
    border-radius: 4px;
    padding: 0.75rem;
    color: black;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}