header {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/white_pattern.png");
}

header img {
  width: 15%;
  margin: 10px;
  border-radius: 5px;
}

body {
font-family: Arial, Helvetica, sans-serif;
background-color:ivory;
}

h1 {
text-align: left;
padding: 10px;
margin-top: auto;
font-size: xx-large;
}

footer {
font-size: smaller;
width: auto;
background-image: url("../images/white_pattern.png");
padding: 15px;
}
