.pictures {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

picture {
    margin: 10px;
}

main {
    display: grid;
    justify-content: center;
    justify-items: center;
}

picture img[data-src] {
    filter: blur(0.2em);
  }
  
picture img {
    filter: blur(0em);
    transition: filter 0.5s;
  }